<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="Server" class="bot.server.handle.Dispatcher" init-method="startup"></bean>
	<bean id="Exceutors" class="bot.server.handle.task.Executors" init-method="init"></bean>
	<bean id="Bot" class="bot.server.core.Bot" init-method="init"></bean>
</beans>